.hide{
    display:none;
}

.ikona{
    transition:0.5s;
}

.ikona:hover{
    box-shadow: 3px 3px 2px black;
}

.ikona-active {
    box-shadow:0px 0px 3px red;
}

.glow2 {
    box-shadow:0px 0px 3px red;
}

.glow:hover {
    box-shadow:0px 0px 3px red;
}

a.navbar-brand {
    position: relative;
    z-index: 1;
}

.navbar{
    margin-bottom:0px;
}

.mb-2{
    padding-bottom:20px;
}

.mb-1{
    margin-bottom:10px;
}
